body {
  background-color:white; 
}
 .header{
    border-bottom:2px solid black;
    padding-left: 10px;
   margin-left:10%;
   margin-right:10%; 
}
.contact{
  border-bottom:2px solid black 
}
.image-style{
  width: 30%;
  height: 25%;
  position: absolute;
    top: 0;
    right: 0;
}
